@charset "utf-8";
/* CSS Doc */
body{
  margin: 0px;
  padding:0px;
  background-color: #161616;
}

* {
   -moz-user-select: text;
   -khtml-user-select: text;
   -webkit-user-select: text;

   -ms-user-select: text;
   user-select: text;
}

html{
  scroll-behavior: smooth;
}

ul{
  list-style: none; /*Gets rid of all dots*/
}

a{
  text-decoration: none; /*Gets rid of Underlines*/
}

.toggle{
  display: none;
}

nav *{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  -ms-user-select: none;
  user-select: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: calibri;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  box-sizing: border-box;
  padding: 10px 50px; /*height width*/
  background-color: #191919;
  box-shadow: 0px 2px 12px rgba(0,0,0,0.05);/*horiz offset v offset blur spread color*/
  z-index: 1;
  transition: background-color 0.3s ease-in-out;
}

nav ul{
  display: flex; /* Makes li's horiz */
  transition: all 0.3s ease-in-out;
}

nav ul li a{
  padding: 10px 15px;
  color:rgb(148, 152, 154);
  /* color:#6c707c; */
  font-size: 12px;
  transition: all ease 0.2s;
}
.lang{
  color:#F4F7FF;
  transition: all 0.3s ease-in-out;
}
.logo{
  height: 20px;
  font-size: 25px;
  font-weight: bold;
  color:#F4F7FF;
  font-family: 'Kumbh Sans', sans-serif;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover,nav ul li a.active{
   background-color: #F4F7FF;
   color:#292929 !important;
   font-weight: 700;
   transition: all ease 0.4s;
}

.loading{
  position: fixed;
  width:100%;
  height:100%;
  animation-name:load;
  background-color: rgba(21,21,21,1);
  animation-duration: 2s;
  animation-fill-mode: forwards;
  z-index: 50;
}

.loadingText{
  font-size: calc((20vh + 10vw)/2);
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: bold;
  color:#f4f7ff;
  text-align: center;
  position: absolute;
  top:35%;
  left:50%;
  transform:translate(-50%,-50%);
}

.loadingReveal{
  background-color:rgba(21,21,21,1);
  width:calc(((25vh + 10vw)/2)*4.5);
  height:calc((25vh + 10vw)/1.5);
  position: relative;
  animation-name: loadingRev;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform-origin: right;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index: 2;
}

.about{
  background-color: rgb(22, 22, 22);
  justify-content: center;
  padding-top: 0px;
  width:100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5% 0px 5%;
  transition: background-color 0.3s ease-in-out;
}

.about-container{
  position: relative;
  width:100%;
  background-color: transparent;
  height:80vh;
}

.left-side{
  position: absolute;
  width:calc(100% - 61.8%);
  height: 100%;
  background-color: rgb(26, 34, 36);
}

.left-side img{
  object-fit: contain;
  max-height: 90%;
  max-width: 90%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.img-fin{
  opacity: 0;
  display: block;
}

.right-side{
  box-sizing: border-box;
  padding: 20px 50px 50px 50px;
  overflow: auto;
  font-size: 18px;
  position: absolute;
  right:0;
  width:61.8%;
  height: 100%;
  background-color: rgb(30, 67, 80);
}

.info{
  color: #f4f7ff;
  height:85%;
  overflow: auto;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 40px;
  word-spacing: 2px;
  text-align: justify;
  letter-spacing: -0.5px;
}

.image-name{
  color: #f4f7ff;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 1.5px;
}

.scrollbar{
    overflow-y: scroll;
}

.style-1::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    opacity: 0;
}

.style-1::-webkit-scrollbar{
    width: 8px;
    opacity: 0;
}

.style-1::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/* ~ > +  */

.cbox{
  margin: 0;
  width:50px;
  height:50px;
  position: fixed;
  top:calc(71px + 20px);
  right:36px;
  background-color: red;
  z-index: 10;
  opacity: 0;
}

.icon-cbox{
  width:50px;
  height:50px;
  position: fixed;
  top:calc(71px + 20px);
  right:36px;
  background-image: url("../img/Licon.png");
  background-size: cover;
  z-index: 9;
  border-radius: 50%;
  transition: background-image 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0px 0px 10px 10px rgba(255,255,255,0.1);/*horiz offset v offset blur spread color*/
}

.cbox:checked ~ .icon-cbox{
  background-image: url("../img/Dicon.png") !important;
  box-shadow: 0px 0px 20px rgba(0,0,0,1);
}

.cbox:checked ~ .about{
  background-color: rgb(234, 237, 242);
}

.cbox:checked ~ nav{
  background-color: rgb(244, 247, 255);
}

.cbox:checked ~ nav ul li a{
  color:#6c707c;
}

.cbox:checked ~ nav ul li a:hover, .cbox:checked ~ nav ul li a.active{
   background-color: #292929;
   color:#fff !important;
}

.cbox:checked ~ nav .logo{
  color:#292929;
}

.cbox:checked ~ nav .lang{
  color:#292929;
}

.cbox:checked ~ .about .about-container .right-side .info{
  color: #191919;
  font-weight: 400 !important;
}

.cbox:checked ~ .about .about-container .right-side .image-name{
  color: #191919;
  font-weight: bolder;
}

.cbox:checked ~ .about .about-container .right-side{
  background-color: #f4f7ff;
}

.cbox:checked ~ .about .about-container .left-side{
  background-color: #d3d6de;
}

@media(max-width:1190px){

  .about-img img{
    display: none;
    height:400px;
  }

}


@media(max-width:970px){
   .about-img{
     display:none;
   }

   .about-text h1{
     font-size: 4rem;
   }
}

@media(max-width:900px), (max-height:650px){
  .icon-cbox{
    top:calc(40px + 18px);
    right:18px;
  }

  .cbox{
    top:calc(40px + 18px);
    right:18px;
  }

  .about-text h2{
    text-align: left;
  }

  .toggle{
    display: block;
  }

  .cbox:checked ~ nav .toggle::before{
  color:#282828;
  }

  .toggle::before{
    content:'\f0c9';
    color:#F4F7FF;
    font-family: fontAwesome;
    line-height: 0px;
    margin-left: -32.5px;
  }

  .toggle.active::before{
    content:'\f00d';
  }
  nav{
    padding: 10px 30px;
  }
  nav ul{
    position: absolute;
    width:100%;
    height:auto;
    box-sizing: border-box;
    background-color: #0f0f0f;
    top:50px;
    left:0;
    transition:0.5s;
    overflow: hidden;
    border:3px solid #1f1f1f;
    display: none !important;
    margin:0px;
    padding: 0px;
  }

  nav ul li a{
    border-bottom: 1px solid rgba(255,255,255,0.1);
    width:100%;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0px !important;
    padding:0px !important;
  }
  .active-menu {
    display: block !important;
  }

  /*.left-side{
    width:100%;
    height: 80%;
    background-color: lightslategray;
    display: block;
  }

  .right-side{
    display: block;
    width:100%;
    height: 80%;
    background-color: dimgray;
  }*/
}

@media(max-width:600px){
  .loadingText{
    font-size: calc((10vh + 10vw)/2);
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    color:#f4f7ff;
    text-align: center;
    position: absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
  }

  .about{
    padding: 0 12%;
  }
  .about-text h1{
    font-size: 3rem;
  }
  .about-text h2{
    font-size: 2rem;
  }
  .about-text p{
    font-size: 1rem;
  }
}

@media(max-width:400px){

  .about-text p{
    text-align: left;
  }

  .icon-cbox, .cbox{
    height:35px;
    width:35px;
    right:25px;
  }

  .cbox:checked ~ .icon-cbox{
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
  }

  .icon-cbox{
    box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.1);
  }
}

@media(max-height:700px) and (max-width:450px){
  .about{
    height:95vh;
  }

  .about-text h2{
    font-size: 1.5rem;
  }
}

@media(max-width:250px){
  .about-text h1{
    font-size: 2rem;
  }

  .about-text h2{
    font-size: 1.2rem;
  }

  .about-text p{
    font-size: 1rem;
  }
  .button1{
    width:95%;
    margin:0;
  }
  .button2{
    font-size: 15px;
    border-radius: 15px;
    padding:5px 10px;
  }
}

@media(max-height:770px) and (min-width:901px){
}

@media(min-width:1450px){
}

@media(max-width:300px){
  .loadingText{
    font-size: calc((6vh + 6vw)/2);
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    color:#f4f7ff;
    text-align: center;
    position: absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
  }
}

@keyframes loadingRev {
  0%{
    transform: translate(-50%,-50%) scaleX(1);
  }
  100%{
    transform: translate(-50%,-50%) scaleX(0);
  }
}

@keyframes load{
  0%{background-color: rgba(21,21,21,1)}
  50% {
    background-color: rgba(21,21,21,1);
    transform: translate(0%,0%);
  }
  100%  {
    background-color: rgba(21,21,21,0.4);
    transform: translate(0%,-100%);
  }
}
